/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "./app/shared/scss/themes";
body {
    background: url(assets/imagens/Background.png);
    background-size: cover;
}