/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "./app/shared/scss/themes";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');body {
    background: url(assets/imagens/Background.png);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}