<div class="card-container d-flex justify-content-around mt-5">
  <div class="card" style="width: 18rem;" *ngFor="let card of cards">
    <img class="card-img-top" [src]="card.images[0].url" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{card.title}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{card.description}}</li>
      <li class="list-group-item">Autor : {{card.ad}}</li>
      <li class="list-group-item">PREÇO : {{card.price | currency:'R$'}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link"><button>Carrinho</button></a>
      <a href="#" class="card-link"><button>Comprar</button></a>
      <a href="#" class="card-link">{{card.feature}}</a>
    </div>
  </div>
</div>
